@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
}

html body {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.App {
}

.h-100vh {
  height: 100vh;
}

.logo {
  height: 60px;
}

.active-link {
  background-color: rgb(0, 119, 255);
  font-weight: bold;
  color: aliceblue;
}
table,
th,
td {
  border: 1px solid #a5a2a2;
  padding: 5px;
}

table {
  border-radius: 10px;
}
